{{yield}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">My Weather Portal</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                {{#link-to "forecast"}}
                <a class="nav-link">Forecast</a>{{/link-to}}
            </li>
            <li class="nav-item">
                {{#link-to "warning"}}
                <a class="nav-link">Warning</a>{{/link-to}}
            </li>
            <li class="nav-item">
                {{#link-to "about"}}
                <a class="nav-link">About</a>{{/link-to}}
            </li>
        </ul>

    </div>
</nav>