<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">JavaScript Safari Team</div>
            <div class="panel-body">
                This brought to you be the JavaScript Safari team. We hope you enjoy our quick tutorial.
            </div>
        </div>
    </div>
</div>
