<h1>Welcome to the Weather Hubs</h1>
<p>This is a sample app to demonstrate the ember application.</p>

<p>
  <nav class="forecastBtn">{{#link-to "forecast"}} Weather forecast {{/link-to}}</nav>
</p>

