body {
  margin:0px;
  background-image:url('../../images/mobile/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:700px 700px;
  position:static;
  left:auto;
  width:883px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:700px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:0px;
  width:353px;
  height:700px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:516px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:97px;
  width:297px;
  height:516px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:106px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:105px;
  width:275px;
  height:106px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_ann {
  border-width:0px;
  position:absolute;
  left:475px;
  top:101px;
  width:1px;
  height:1px;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:138px;
  width:248px;
  height:61px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u169_ann {
  border-width:0px;
  position:absolute;
  left:462px;
  top:134px;
  width:1px;
  height:1px;
}
#u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:387px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:211px;
  width:274px;
  height:387px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_ann {
  border-width:0px;
  position:absolute;
  left:474px;
  top:207px;
  width:1px;
  height:1px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:360px;
  width:232px;
  height:39px;
}
#u171_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:39px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u171_ann {
  border-width:0px;
  position:absolute;
  left:451px;
  top:356px;
  width:1px;
  height:1px;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:327px;
  width:63px;
  height:23px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u172_ann {
  border-width:0px;
  position:absolute;
  left:282px;
  top:323px;
  width:1px;
  height:1px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:455px;
  width:232px;
  height:39px;
}
#u173_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:39px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u173_ann {
  border-width:0px;
  position:absolute;
  left:451px;
  top:451px;
  width:1px;
  height:1px;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:422px;
  width:81px;
  height:23px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u174_ann {
  border-width:0px;
  position:absolute;
  left:300px;
  top:418px;
  width:1px;
  height:1px;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 89, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:531px;
  width:128px;
  height:34px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  word-wrap:break-word;
  text-shadow:1px 1px 10px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 10px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 10px rgba(0, 0, 0, 0.647058823529412);
}
#u175_ann {
  border-width:0px;
  position:absolute;
  left:451px;
  top:527px;
  width:1px;
  height:1px;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:122px;
  width:72px;
  height:18px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u176_ann {
  border-width:0px;
  position:absolute;
  left:286px;
  top:118px;
  width:1px;
  height:1px;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.337254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:oblique;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:238px;
  width:250px;
  height:45px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:oblique;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  word-wrap:break-word;
}
#u177_ann {
  border-width:0px;
  position:absolute;
  left:462px;
  top:234px;
  width:1px;
  height:1px;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:516px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:97px;
  width:297px;
  height:516px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:106px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:105px;
  width:275px;
  height:106px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_ann {
  border-width:0px;
  position:absolute;
  left:837px;
  top:101px;
  width:1px;
  height:1px;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:138px;
  width:248px;
  height:61px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u180_ann {
  border-width:0px;
  position:absolute;
  left:824px;
  top:134px;
  width:1px;
  height:1px;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:122px;
  width:72px;
  height:18px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u181_ann {
  border-width:0px;
  position:absolute;
  left:648px;
  top:118px;
  width:1px;
  height:1px;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:219px;
  width:276px;
  height:49px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_ann {
  border-width:0px;
  position:absolute;
  left:837px;
  top:215px;
  width:1px;
  height:1px;
}
#u183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(204, 0, 0, 1) 100%, rgba(204, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(204, 0, 0, 1) 100%, rgba(204, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(204, 0, 0, 1) 100%, rgba(204, 0, 0, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:221px;
  width:124px;
  height:47px;
  color:#FFFFFF;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:232px;
  width:109px;
  height:24px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  white-space:nowrap;
}
#u184_ann {
  border-width:0px;
  position:absolute;
  left:676px;
  top:228px;
  width:1px;
  height:1px;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0000;
  text-align:left;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:232px;
  width:61px;
  height:24px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0000;
  text-align:left;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u185_ann {
  border-width:0px;
  position:absolute;
  left:756px;
  top:228px;
  width:1px;
  height:1px;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0000;
  text-align:left;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:232px;
  width:51px;
  height:24px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0000;
  text-align:left;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u186_ann {
  border-width:0px;
  position:absolute;
  left:831px;
  top:228px;
  width:1px;
  height:1px;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:318px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:278px;
  width:276px;
  height:318px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_ann {
  border-width:0px;
  position:absolute;
  left:837px;
  top:274px;
  width:1px;
  height:1px;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:81px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:295px;
  width:76px;
  height:81px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_ann {
  border-width:0px;
  position:absolute;
  left:652px;
  top:291px;
  width:1px;
  height:1px;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:299px;
  width:86px;
  height:46px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u189_ann {
  border-width:0px;
  position:absolute;
  left:752px;
  top:295px;
  width:1px;
  height:1px;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:oblique;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:353px;
  width:153px;
  height:18px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:oblique;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u190_ann {
  border-width:0px;
  position:absolute;
  left:819px;
  top:349px;
  width:1px;
  height:1px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:404px;
  width:248px;
  height:166px;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:44px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:44px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:14px;
  width:63px;
  word-wrap:break-word;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:0px;
  width:100px;
  height:44px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:44px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:0px;
  width:75px;
  height:44px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:14px;
  width:65px;
  word-wrap:break-word;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:61px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:73px;
  height:61px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:14px;
  width:63px;
  word-wrap:break-word;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:61px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:44px;
  width:100px;
  height:61px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:22px;
  width:90px;
  word-wrap:break-word;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:61px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:44px;
  width:75px;
  height:61px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:22px;
  width:65px;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:61px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:73px;
  height:61px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:14px;
  width:63px;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:61px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:105px;
  width:100px;
  height:61px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:22px;
  width:90px;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:61px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:105px;
  width:75px;
  height:61px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:22px;
  width:65px;
  word-wrap:break-word;
}
#u191_ann {
  border-width:0px;
  position:absolute;
  left:824px;
  top:400px;
  width:1px;
  height:1px;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:48px;
  width:80px;
  height:46px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:101px;
  width:109px;
  height:16px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
