body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1673px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:896px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:31px;
  width:688px;
  height:896px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:783px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:65px;
  width:642px;
  height:783px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:896px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:39px;
  width:688px;
  height:896px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:783px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:73px;
  width:642px;
  height:783px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:115px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:93px;
  width:300px;
  height:115px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_ann {
  border-width:0px;
  position:absolute;
  left:562px;
  top:89px;
  width:1px;
  height:1px;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:129px;
  width:248px;
  height:61px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u208_ann {
  border-width:0px;
  position:absolute;
  left:538px;
  top:125px;
  width:1px;
  height:1px;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:326px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:207px;
  width:611px;
  height:326px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_ann {
  border-width:0px;
  position:absolute;
  left:873px;
  top:203px;
  width:1px;
  height:1px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:322px;
  width:300px;
  height:42px;
}
#u210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:42px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u210_ann {
  border-width:0px;
  position:absolute;
  left:696px;
  top:318px;
  width:1px;
  height:1px;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:335px;
  width:63px;
  height:23px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u211_ann {
  border-width:0px;
  position:absolute;
  left:355px;
  top:331px;
  width:1px;
  height:1px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:393px;
  width:300px;
  height:42px;
}
#u212_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:42px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u212_ann {
  border-width:0px;
  position:absolute;
  left:696px;
  top:389px;
  width:1px;
  height:1px;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:405px;
  width:81px;
  height:23px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u213_ann {
  border-width:0px;
  position:absolute;
  left:373px;
  top:401px;
  width:1px;
  height:1px;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 89, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:473px;
  width:140px;
  height:37px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
  text-shadow:1px 1px 10px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 10px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 10px rgba(0, 0, 0, 0.647058823529412);
}
#u214_ann {
  border-width:0px;
  position:absolute;
  left:857px;
  top:469px;
  width:1px;
  height:1px;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:112px;
  width:72px;
  height:18px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u215_ann {
  border-width:0px;
  position:absolute;
  left:362px;
  top:108px;
  width:1px;
  height:1px;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.337254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:oblique;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:238px;
  width:556px;
  height:49px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:oblique;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:552px;
  word-wrap:break-word;
}
#u216_ann {
  border-width:0px;
  position:absolute;
  left:848px;
  top:234px;
  width:1px;
  height:1px;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:115px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:97px;
  width:300px;
  height:115px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_ann {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:93px;
  width:1px;
  height:1px;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:133px;
  width:248px;
  height:61px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u218_ann {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:129px;
  width:1px;
  height:1px;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:116px;
  width:72px;
  height:18px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u219_ann {
  border-width:0px;
  position:absolute;
  left:1127px;
  top:112px;
  width:1px;
  height:1px;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:66px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:219px;
  width:595px;
  height:66px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_ann {
  border-width:0px;
  position:absolute;
  left:1622px;
  top:215px;
  width:1px;
  height:1px;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:233px;
  width:187px;
  height:39px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  white-space:nowrap;
}
#u221_ann {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:229px;
  width:1px;
  height:1px;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#CC0000;
  text-align:left;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:233px;
  width:104px;
  height:39px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#CC0000;
  text-align:left;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  white-space:nowrap;
}
#u222_ann {
  border-width:0px;
  position:absolute;
  left:1375px;
  top:229px;
  width:1px;
  height:1px;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#CC0000;
  text-align:left;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:1428px;
  top:233px;
  width:86px;
  height:39px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#CC0000;
  text-align:left;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  white-space:nowrap;
}
#u223_ann {
  border-width:0px;
  position:absolute;
  left:1507px;
  top:229px;
  width:1px;
  height:1px;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:546px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:293px;
  width:595px;
  height:546px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_ann {
  border-width:0px;
  position:absolute;
  left:1622px;
  top:289px;
  width:1px;
  height:1px;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:81px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:323px;
  width:76px;
  height:81px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_ann {
  border-width:0px;
  position:absolute;
  left:1131px;
  top:319px;
  width:1px;
  height:1px;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:343px;
  width:229px;
  height:30px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u226_ann {
  border-width:0px;
  position:absolute;
  left:1374px;
  top:339px;
  width:1px;
  height:1px;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:oblique;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:374px;
  width:153px;
  height:18px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:oblique;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u227_ann {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:370px;
  width:1px;
  height:1px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:496px;
  width:544px;
  height:90px;
}
#u229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:0px;
  width:285px;
  height:30px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:6px;
  width:275px;
  word-wrap:break-word;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:0px;
  width:127px;
  height:30px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:132px;
  height:30px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:30px;
  width:285px;
  height:30px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:6px;
  width:275px;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:30px;
  width:127px;
  height:30px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:132px;
  height:30px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:30px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:60px;
  width:285px;
  height:30px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:6px;
  width:275px;
  word-wrap:break-word;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:60px;
  width:127px;
  height:30px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u228_ann {
  border-width:0px;
  position:absolute;
  left:1599px;
  top:492px;
  width:1px;
  height:1px;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:447px;
  width:150px;
  height:23px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u238_ann {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:443px;
  width:1px;
  height:1px;
}
#u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:447px;
  width:56px;
  height:23px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u239_ann {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:443px;
  width:1px;
  height:1px;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:773px;
  width:85px;
  height:30px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u240_ann {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:769px;
  width:1px;
  height:1px;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:2px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:427px;
  width:544px;
  height:1px;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:2px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:621px;
  width:544px;
  height:1px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:644px;
  width:167px;
  height:23px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u243_ann {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:640px;
  width:1px;
  height:1px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:686px;
  width:100px;
  height:17px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u244_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:712px;
  width:167px;
  height:17px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u245_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:738px;
  width:100px;
  height:17px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u246_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:1363px;
  top:644px;
  width:202px;
  height:23px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u247_ann {
  border-width:0px;
  position:absolute;
  left:1558px;
  top:640px;
  width:1px;
  height:1px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:1363px;
  top:674px;
  width:243px;
  height:40px;
}
#u248_input {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:40px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u248_ann {
  border-width:0px;
  position:absolute;
  left:1599px;
  top:670px;
  width:1px;
  height:1px;
}
#u249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:48px;
  width:80px;
  height:46px;
  font-family:'Microsoft JhengHei';
  font-weight:700;
  font-style:normal;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:101px;
  width:117px;
  height:32px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
