@import '~bootstrap/scss/bootstrap';

body { 
    background: url(assets/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.margin-bottom {
    margin-bottom: 20px !important
}