@import 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

body {
  background: url(images/bg.jpg);
}
.orange {
  color: #e43f16;
}
.yellow {
  color: #eff311;
}
